body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

.header-container {
    width: 100vw;
    padding: 20px;
    background-color: #60e1e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #fff;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* Alterado para garantir visibilidade */
}

.info-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #60e1e0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-home:hover {
    background-color: #50bfbf;
}

.social-media {
    margin-top: 2rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #fff;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.social-media a:hover {
    background-color: #fff;
    color: #60e1e0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-cv-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #60e1e0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.download-cv-button:hover {
    background-color: #50bfbf;
    transform: scale(1.05);
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 40px;
}

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: #ffffffff;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 94vmax #ffffffff;
    z-index: 1;
}

#toggle:checked~.menu-itens {
    visibility: visible;
    opacity: 1;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-gallery img {
    max-width: calc(33% - 20px);
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.fade-in-up.reveal {
    opacity: 1;
}
